.nested-fields
  = f.input :name,  wrapper_html: {class: 'form-group col-md-11'}, input_html: {class: 'form-control '}
  
  .remove_association.form-group.col-md-1
    = link_to_remove_association f do
      .glyphicon.glyphicon-trash

.clearfix
