%nav.navbar.navbar-inverse
  .container
    .navbar-header
      =link_to t('Administrator Polls'), polls_path, class: "navbar-brand"

    .navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li{:class => active_menu?(root_path)}
          =link_to t('.Polls'), polls_path
        %li{:class => active_menu?(groups_path)}
          =link_to t('.Groups'), groups_path
        %li{:class => active_menu?(questions_path)}
          =link_to t('.Questions'), questions_path
        %li{:class => active_menu?(answers_path)}
          =link_to t('.Answers'), answers_path
